@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container-header {
    padding: 1rem;
    background-color: #128c7e;
}

.container-header h1{
    color: #fff;
    font-size: 20pt;
}

.principal {
    display: flex;
    justify-content: center;

}

.principal section{
    display: flex;
    align-self: center; 
    flex-direction: column;
}

.input-mensagem, .input-numero{ 
    display: flex;
    margin: 15px;
    padding: 5px;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 5px;
    height: 2em;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.input-link { 
    display: none;
    margin: 15px; 
    padding: 5px;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 5px;
    width: 15em;
    height: 2em;
    flex-direction: column;position: relative;
    cursor: pointer;
}

.input-mensagem input, .input-numero input, .input-link input{
    padding-top: 1px;
    margin-left: 30px;
    border: inset 0 ;
    outline: 0;
    cursor: pointer;
}

.input-mensagem label, .input-numero label, .input-link label {
    cursor: pointer;
}

.input-mensagem p, .input-numero p, .input-link p{
    font-size: 6pt;
    margin-left: 30px;
    margin-top: 2px;
}

.input-mensagem label::before{
    content: "";
    margin: 8px 5px;
    height: 16px;
    width: 16px;
    background-image: url(../images/icons/comentario-alt.png);
    position: absolute;
}

.input-numero label::before{
    content: "";
    margin: 8px 5px;
    height: 16px;
    width: 16px;
    background-image: url(../images/icons/chamada-telefonica.png);
    position: absolute;
}

.input-link label::before{
    content: "";
    margin: 8px 5px;
    height: 16px;
    width: 16px;
    background-image: url(../images/icons/link.png);
    position: absolute;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao{
    margin: 10px;
    background-color: #128c7e;
    color: #fff;
    border: unset;
    border-radius: 4px;
    width: 10em;
    height: 3em;
    cursor: pointer;
    transition: 250ms;
}

.botao:hover{
    background-color: #035a4f;
}

#botao-gerar{

}

#botao-gerar-outro, #botao-copiar-link{
    display: none;
}

.erro{
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ff0000;
    color: #fff;
    position: fixed;
    bottom: 0; 
    transition: 1s;
}

.explicacao{
    margin: 15px;
    width: 30vw;
}

.explicacao ol{
    margin-left: 30px;
}

.explicacao p{
    font-size: 8pt;
}
