@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container-header {
    padding: 1.5rem 0;
    background-color: #128c7e;
    display: flex;
    align-items: center;
}

.container-header img{
    margin-left: 25px;
    width: 48px;
}

.container-header h1{
    color: #fff;
    font-size: 20pt;
    padding-left: 15px;
}

.principal {
    display: flex;
    justify-content: center;

}

.principal section{
    margin: 15px 0;
    width: 40rem;
    display: flex;
    align-self: center; 
    flex-direction: column;
}

.input-mensagem, .input-numero{ 
    display: flex;
    margin: 15px 0;
    padding: 5px;
    border: solid 1px rgb(173, 173, 173);
    border-radius: 5px;
    height: 3em;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.input-link { 
    display: none;
    margin: 15px 0; 
    padding: 5px;
    border: solid 1px #adadad;
    border-radius: 5px;
    height: 3em;
    flex-direction: column;position: relative;
    cursor: pointer;
}

.input-mensagem input, .input-numero input, .input-link input{
    padding-top: 0.1rem;
    margin-left: 2.8rem;
    border: inset 0 ;
    outline: 0;
    cursor: pointer;
    font-size: 12pt;
}

.input-mensagem label, .input-numero label, .input-link label {
    cursor: pointer;
}

.input-mensagem p, .input-numero p, .input-link p{
    font-size: 8pt;
    margin-left: 2.8rem;
    margin-top: 8px;
    color: #adadad;
}

.input-mensagem label::before{
    content: "";
    margin: 10px;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/comente.png);
    position: absolute;
}

.input-numero label::before{
    content: "";
    margin: 10px;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/silhueta-de-alca-de-telefone.png);
    position: absolute;
}

.input-link label::before{
    content: "";
    margin: 10px;
    height: 24px;
    width: 24px;
    background-image: url(../images/icons/link-quebrado.png);
    position: absolute;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao{
    font-size: 18pt;
    margin: 10px;
    background-color: #128c7e;
    color: #fff;
    border: unset;
    border-radius: 4px;
    width: 12em;
    height: 3em;
    cursor: pointer;
    transition: 250ms;
}

.botao:hover{
    background-color: #035a4f;
}


#botao-gerar-outro, #botao-copiar-link{
    display: none;
}

.aviso {
    text-align: center;
    color: #adadad;
}

.erro{
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #ff0000;
    color: #fff;
    position: fixed;
    bottom: 0; 
    transition: 1s;
}

.explicacao{
    margin: 100px 5%;
}

.explicacao h2{
    color: #707070;
    margin: 0;

}

.explicacao ol{
    margin-left: 30px;
    color: #035a4f;
    font-size: 18pt;
    font-style: oblique;
    font-weight: bolder;
}

.explicacao li p{
    color: #707070;
    font-size: 15pt;
    font-style: normal;
    font-weight: normal;
    list-style: none;
}

.descricao {
    text-align: center;
    font-size: 10pt;
    margin: 10%;
}

@media screen and (max-width: 768px ) {
    .botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .botao{
        font-size: 16pt;
        margin: 10px;
        background-color: #128c7e;
        color: #fff;
        border: unset;
        border-radius: 4px;
        width: 12em;
        height: 2.5em;
        cursor: pointer;
        transition: 250ms;
    }
}